/* Additional styles for the form */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('post_service.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

h1::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

h1:hover::before {
    width: 100%;
    left: 0;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

ul li:last-child {
    border-bottom: none;
}

ul li::before {
    content: "▹";
    margin-right: 5px;
}
